@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.metamask{
    object-fit: cover;
    background-position: center center;
    background-repeat: no-repeat;
    width: 20px;
    height: 25px;
}

@layer components {
    .navLink {
        @apply px-3 py-1.5 rounded-sm bg-transparent hover:bg-indigo-500 hover:bg-opacity-30;
    }
    .navBar {
        @apply w-full bg-gray-800 p-3 flex justify-between items-center;
    }
    .navBrand {
        @apply text-lg font-semibold text-white;
    }
    .navFlex {
        @apply flex justify-between items-center text-white gap-2;
    }
    .navActive {
        @apply bg-indigo-400 bg-opacity-30;
    }
    .signup_input{
        @apply border border-gray-400 w-full rounded p-2 outline-gray-600 mb-1;
    }
    .signupBtn{
        @apply px-4 py-1.5 bg-teal-500 border border-teal-500 rounded-md hover:shadow-lg hover:shadow-teal-300 hover:duration-200 hover:bg-transparent hover:text-teal-600;
    }
}